# Ignore Gradle project-specific cache directory
.gradle

.vscode
.idea
.DS_Store

MongoTestingData/

# Ignore Gradle build output directory
build

notes/

# ignore databases data
data

# ignore done file after completing neo4j import
done